 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Muestra gratuita</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Te ofrezco unas muestras gratuitas de todo el material del que dispongo para que puedas valorarlo antes de nada.</p>
                </div>
                <div class="col-lg-4">
                    <p>Descarga el material gratuito de muestra, valóralo y, si te interesa, <span class="page-scroll bold"><a href="#contact" style="color: black;">contáctame</a></span> para conseguir el material para aprobar las oposiciones de informática de secundaria completo.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="muestras-gratuitas/Muestra-material-oposiciones-informatica-secundaria.zip" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Descargar Muestra Gratuita
                    </a>
                </div>
            </div>
        </div>
    </section>
