<section id="descripcion">
    <div class="container portfolio-flex-grid">
        
            <p>
                Si has llegado hasta aquí es porque estás buscando <span class="bold">descargar material para las oposiciones de informática de secundaria</span>, ya que lo que te gustaría es poder <span class="bold">aprobar dichas oposiciones</span> y convertirte en <span class="bold">funcionario o funcionaria de carrera</span> en tu comunidad.
            </p>
            <p>En ese caso, seguramente estarás interesado en adquirir el <span class="bold">material que me permitó a mi mismo aprobar las oposiciones de informática</span> en el año 2021 y convertirme en <span class="bold">profesor con plaza.</span></p>
            <p>Sé por experiencia propia que <span class="bold">no es fácil</span>, y por ello <span class="bold">una de las mejores ayudas</span> que puedes tener es un <span class="bold">buen material de base</span> y apoyo que te permita <span class="bold">ahorrarte horas y horas de trabajo</span>.</p>
            <p>Es muy simple, el material se divide en:</p>
            <ul>
                <li><span class="bold">Temas</span> preparados para ser estudiados y redactados en 2h de examen. Los redacté yo mismo de forma minuciosa durante más de un año y medio preparándome para el examen.</li>
                <li><span class="bold">Material práctico</span> que incluye ejercicios, exámenes y proyectos resueltos, una cantidad ingente de apuntes hechos por mi, etc.</li>
                <li>La <span class="bold">programación didáctica</span> con la que aprobé la última parte de la oposición.</li>
            </ul>
        
    </div>
</section>
    
